#sidebar-menu-lateral {
    pointer-events: all;
    position: fixed;
    z-index: 1;
    width: 50px;
    height: 100dvh;
    background-color: #101015;
    border-bottom-right-radius: 10px;
    padding: 10px;
    overflow-y: hidden;
    transition: all 0.3s;
}

@media screen and (max-width: 480px) {
    #sidebar-menu-lateral {
        height: fit-content;
    }

    .sidebar-menus[data-closed="false"] > #sidebar-menu-lateral {
        height: calc(100dvh - 95px);
    }
}