#sidebar-menu-lateral {
    pointer-events: all;
    position: fixed;
    z-index: 1;
    width: 50px;
    height: 100dvh;
    background-color: #101015;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    overflow-y: hidden;
    transition: all 0.3s;
}

.sidebar-menus[data-closed="true"] > .sidebars-mains > #sidebar-menu-lateral {
    height: calc(100dvh - 95px)
}