.html-exam-section-buttons {
    background-color: #5075d0;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.html-exam-section-buttons:hover {
    transform: scale(1.05);
}

#html-exam-section-main {
    background-color: #202A35;
    padding: 20px 30px;
}

#html-exam-section-main-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#html-exam-section-main-img {
    width: 200px;
}

.html-exam-section-main-divs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.html-exam-section-main-divs:nth-child(1) {
    width: 30%;
}
.html-exam-section-main-divs:nth-child(2) {
    width: 50%;
}

@media screen and (max-width: 1020px) {
    .html-exam-section-main-divs:nth-child(1), .html-exam-section-main-divs:nth-child(2) {
        width: 100%;
    }
}

#html-exam-section-main-text-div {
    color: #c0caff;
}
@media screen and (max-width: 1020px) {
    #html-exam-section-main-text-div {
        text-align: center;
    }
}

#html-exam-section-footer {
    background-color: #DAF0E0;
    color: #000000;
    text-align: center;
}

#html-exam-section-footer-content {
    max-width: 1400px;
    padding: 0.01em 16px;
}

#html-exam-section-footer-content-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}

.html-exam-section-footer-content-columns {
    width: 200px;
    height: 150px;
}

@media screen and (max-width: 600px) {
    .html-exam-section-footer-content-columns {
        width: 95%;
    }
}

.html-exam-section-footer-content-columns > img {
    width: 70px;
}