.home-sections-panels-divs {
    position: relative;
}

.home-sections-panels {
    width: 480px;
    background-color: #282a36;
    border-radius: 3px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2rem;
    transition: all 0.3s;
    animation: HomePanelsHover 3s ease-in-out infinite;
}
@keyframes HomePanelsHover {
    50% {
        transform: translateY(-3px);
    }
}

.home-sections-panels-headers {
    width: 100%;
    justify-content: flex-start;
    gap: 12px;
}

.home-sections-panels-dots-divs {
    gap: 6px;
}

.home-sections-panels-texts-divs {
    width: 100%;
    justify-content: flex-start;
    gap: 6px;
}

.home-sections-panels-lines {
    width: 24px;
    color: #888;
	font-size: 18px;
}

.home-sections-panels-texts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
	font-size: 18px;
}