#navigation {
    position: fixed;
    z-index: 1;
    inset: 0;
    width: 100dvw;
    pointer-events: none;
}

#navigation-main {
    width: 100%;
    background-color: #13131F;
    transition: all 0.3s ease;
    pointer-events: all;
}
#navigation-main[data-closed="false"] {
    transform: translateY(-95px);
}

/* Header da barra de navegação (parte superior) */
#navigation-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

/* Sections do header da barra de navegação (esquerda e direita) */
.navigation-header-sections {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navigation-header-sections#right {
    justify-content: flex-end;
}

/* Div da logo da barra de navegação */
#navigation-logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

#navigation-list-buttons-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#navigation-article {
    background-color: #101015;
    position: relative;
    height: 40px;
}

#navigation-languages-main {
    width: 100%;
    height: 100%;
}

#navigation-languages-section {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
#navigation-languages-section[data-closed="true"] {
    display: none;
}

/* Div da barra de pesquisa */
#navigation-search-div {
    position: relative;
    width: 210px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Div do botão de trocar tema */
#navigation-theme-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botões da direita */
#navigation-right-buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

/* Div de login/cadastro */
#navigation-sign-div {
    border: unset;
}

#navigation-sign-area {
    position: relative;
    border-radius: 25px;
}

/* Botão de esconder barra de navegação */
#navigation-hide-button {
    pointer-events: all;
}
#navigation-hide-button[data-closed="false"] {
    transform: translateY(-95px);
}

@media screen and (max-width: 768px) {
    #navigation-right-buttons-div {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #navigation-search-div {
        display: none;
    }
}