#navigation {
    position: fixed;
    inset: 0;
    width: 100dvw;
}

#navigation-main {
    width: 100%;
    background-color: #13131F;
}

/* Header da barra de navegação (parte superior) */
#navigation-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

/* Sections do header da barra de navegação (esquerda e direita) */
.navigation-header-sections {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navigation-header-sections#right {
    justify-content: flex-end;
}

/* Div da logo da barra de navegação */
#navigation-logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

#navigation-list-buttons-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#navigation-languages-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Div da barra de pesquisa */
#navigation-search-div {
    position: relative;
    width: 210px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Div do botão de trocar tema */
#navigation-theme-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botões da direita */
#navigation-right-buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

/* Div de login/cadastro */
#navigation-sign-div {
    border: unset;
}

#navigation-sign-area {
    position: relative;
    border-radius: 25px;
}