#navigation-menu {
    width: 100%;
    height: 100vh;
    background-color: #101015;
    padding: 30px;

}
#navigation-menu[data-closed="true"] {
    display: none;
}

#navigation-menus-div {
    height: 80%;
    overflow-y: scroll;
}

.navigation-menus-mains {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin: auto;
}
.navigation-menus-mains[data-closed="true"] {
    display: none;
}

.navigation-menus-headers {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.navigation-menus-headers-columns {
    width: 33.33%;
}

.navigation-menus-articles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.navigation-menus-articles-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#navigation-menu-close-div {
    position: absolute;
    left: 85%;
}

.navigation-menus-columns-divs {
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.navigation-menus-columns {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.navigation-menus-columns-headers {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}

.navigation-menus-search-divs {
    width: fit-content;
    position: relative;
}

.navigation-menu-search-bars ~ .navigation-menu-search-buttons {
    position: absolute;
    background-color: unset;
    top: 0;
    left: calc(100% - calc(40px));
    transform: translateX(-5px);
}

.navigation-menu-article-buttons-divs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

/* Mobile */
#navigation-mobile-menu {
    display: none;
}

.navigation-mobile-menu-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-mobile-menu-lists {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigation-mobile-menu-lists[data-closed="true"] {
    display: none;
}

.navigation-mobile-menus-headers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-mobile-menus-columns {
    width: 100%;
    padding-top: 20px;
}

.navigation-mobile-menus-search-divs {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-mobile-menu-search-bars ~ .navigation-mobile-menu-search-buttons {
    position: absolute;
    background-color: unset;
    top: 0;
    left: calc(100% - calc(80px));
    transform: translateX(-5px);
}

.navigation-mobile-menus-columns-headers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation--mobile-menus-articles-columns {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-mobile-menu-columns-divs {
    width: 100%;
}

.navigation-mobile-menu-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-menus-articles-divs {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

@media screen and (max-width: 480px) {
    #navigation-menu {
        padding: 0;
    }

    #navigation-menu-close-div {
        position: absolute;
        right: 0%;
    }

    .navigation-menu-article-buttons-divs {
        margin-top: 5px;
    }

    #navigation-mobile-menu {
        display: block;
        padding-top: 65px;
    }
}