.tutorials {
    background-color: #13131F;
}

.tutorials-mains {
    width: 70%;
    margin: auto;
    padding-top: 120px;
}

#tutorial-title-div {
    width: 100%;
    margin: auto;
}

#tutorial-move-buttons-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}