.tutorial-sections-rows {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0;
}

.tutorial-sections-rows-parts {
    color: #ffffff;
    font-size: 14px;
}

.tutorial-sections-rows-subparts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

/* Parágrafos */
.tutorial-sections-rows-paragraphs {
    color: #ffffff;
    font-size: 14px;
    white-space: nowrap;
}

/* Links */
.tutorial-sections-rows-links {
    color: #ffffff;
    font-size: 14px;
    white-space: nowrap;
}

.tutorial-sections-rows-codes-divs {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 14px;
}