.tutorial-sections-maps-divs {
    position: relative;
    overflow-x: auto;
}
.tutorial-sections-maps-divs[data-mouse="false"] > .tutorial-sections-maps-touch-icons {
    display: none;
}

.tutorial-sections-maps-marks-divs {
    pointer-events: none;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    /*background-color: #f006;*/
}