.tutorials {
    background-color: #13131F;
}

.tutorials-mains {
    width: 70%;
    margin: auto;
    padding-top: 120px;
}

#tutorial-title-div {
    width: 100%;
    margin: auto;
}

#tutorial-move-buttons-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tutorials-sections {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-top: 20px;
}

.tutorial-sections-links-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/* Linhas */
.tutorial-sections-lines {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Listas (ol/ul) */
.tutorial-sections-lists-items {
    display: list-item;
}

.tutorial-sections-lists-items-parts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.tutorial-sections-lists-items-codes-divs {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

/* Tabelas */
.tutorial-sections-tables {
    width: 100%;
    background-color: #101015;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 2px;
}

.tutorial-sections-tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}
.tutorial-sections-tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

.tutorial-sections-th, .tutorial-sections-td {
    color: #ffffff;
    font-size: 14px;
    padding: 8px;
    text-align: center;
}
.tutorial-sections-th[data-italic="true"], .tutorial-sections-td[data-italic="true"] {
    font-style: italic;
}
.tutorial-sections-td {
    font-weight: 100;
}
/* Links dos td */
.tutorial-sections-td-links {
    color: #ffffff;
}

/* Divs dos color blocks */
.tutorials-sections-color-blocks-divs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5%;
}

/* Divs do resultado das cores */
.tutorials-sections-color-results-divs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Divs dos inputs do resultado das cores */
.tutorials-sections-color-result-inputs-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Div de cada input */
.tutorials-sections-color-result-input-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tutorial-footer {
    margin-top: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 480px) {
    .tutorials-mains {
        width: 90%;
    }
}