.tutorial-kickstarts {
    position: relative;
    width: 100%;
    margin: 30px 0;
}

.tutorial-kickstarts-mains {
    width: 88%;
    background-color: #101015;
    border-radius: 20px;
    padding: 6%;
    margin: auto;
}

.tutorial-kickstarts-mains > h1, .tutorial-kickstarts-mains > h2 {
    color: #FFC0C5;
}
.tutorial-kickstarts-mains > h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.tutorial-kickstarts-mains > h2 {
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.tutorial-kickstarts-links {
    width: 180px;
    height: 25px;
    background-color: #5075d0;
    color: #fff;
    border-radius: 50px;
    padding: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.tutorial-kickstarts-links:hover {
    filter: brightness(1.05);
    transform: scale(1.1);
}

@media screen and (max-width: 480px) {
    .tutorial-kickstarts-mains > h1 {
        font-size: 32px;
    }

    .tutorial-kickstarts-mains > h2 {
        font-size: 20px;
    }

    .tutorial-kickstarts-links {
        margin: auto;
    }
}