.tutorials-sections-examples {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.tutorials-examples-mains {
    width: 96%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 2%;
}

/* Headers */
.tutorials-examples-headers {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}
.tutorials-examples-headers[data-hidden="true"] {
    display: none;
}

.tutorials-examples-articles {
    background-color: #101015;
    color: #ffffff;
    border-left: 4px solid #202020;
    padding: 10px;
    overflow-x: auto;
}

/* Footer */
.tutorials-examples-footers {
    width: 100%;
    margin: 15px auto 5px auto;
}
.tutorials-examples-footers[data-hidden="true"] {
    display: none;
}

/* Divs dos resultados */
.tutorials-examples-results-divs {
    width: 100%;
}

/* Títutos dos resultados */
.tutorials-examples-results-titles {
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    transition: all 0.3s ease;
}


/* Resultados */
.tutorials-examples-results {
    background-color: #101015;
    width:calc(100% - calc(10px * 2));
    padding: 20px 10px;
}

/* Exercícios */
.tutorials-sections-exercises {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.tutorials-exercises-mains {
    width: 96%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 2%;
}

.tutorials-exercises-headers {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.tutorials-exercises-articles {
    background-color: #101015;
    color: #ffffff;
    border-left: 4px solid #202020;
    padding: 10px;
    overflow-x: auto;
}

.tutorials-exercises-footers {
    position: relative;
    width: 100%;
    margin: 15px auto 5px auto;
}