.tutorial-sections-img-flex {
    display: flex;
}

.tutorial-sections-img-flex-titles {
    color: #f0f0f0;
    font-weight: 100;
    text-align: center;
}

.tutorial-sections-img-flex-images {
    border-radius: 5px;
}