.tutorial-sections-tips-parts {
    color: #000000;
    font-size: 14px;
}

.tutorial-sections-tips-subparts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

/* Parágrafos */
.tutorial-sections-tips-paragraphs {
    color: #000000;
    font-size: 14px;
    /*white-space: nowrap;*/
}
.tutorial-sections-tips-paragraphs[data-bold="true"] {
    font-weight: bold;
}

/* Links */
.tutorial-sections-tips-links {
    color: #000000;
    font-size: 14px;
    white-space: nowrap;
}

.tutorial-sections-tips-codes-divs {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .tutorial-sections-tips-paragraphs {
        white-space: unset;
    }
}