.tutorials-sections-examples {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorials-examples-mains {
    width: 96%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 2%;
}

.tutorials-examples-headers {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.tutorials-examples-articles {
    background-color: #101015;
    color: #ffffff;
    border-left: 4px solid #202020;
    padding: 10px;
}

.tutorials-examples-footers {
    width: 100%;
    margin: 15px auto 5px auto;
}