.tutorials {
    background-color: #13131F;
}

.tutorials-mains {
    width: 70%;
    margin: auto;
    padding-top: 120px;
}

#tutorial-title-div {
    width: 100%;
    margin: auto;
}

#tutorial-move-buttons-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.tutorials-sections {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    /*margin-top: 20px;*/
}

.tutorial-sections-links-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/* Linhas */
.tutorial-sections-lines {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Listas (ol/ul) */
.tutorial-sections-lists-items {
    display: list-item;
}

.tutorial-sections-lists-items-parts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Parágrafos das partes das listas */
.tutorial-sections-lists-items-paragraphs {
    text-align: left;
}

.tutorial-sections-lists-items-codes-divs {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.tutorial-sections-tables-divs {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}
/* Tabelas */
.tutorial-sections-tables {
    width: 100%;
    max-width: 100%;
    background-color: #101015;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 2px;
}
.tutorial-sections-tbodies {
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

/* Exemplo 1 (HTML Tabelas, Estilização, Seletor :hover) */
.tutorial-sections-tables.example-1 .tutorial-sections-tbodies > tr {
    background-color: transparent;
}
.tutorial-sections-tables.example-1 .tutorial-sections-tbodies > tr:hover {
    background-color: white;
}
.tutorial-sections-tables.example-1 .tutorial-sections-tbodies > tr:hover > th,
.tutorial-sections-tables.example-1 .tutorial-sections-tbodies > tr:hover > td {
    color: black;
}

/* Captions das tabelas */
.tutorial-sections-table-captions {
    color: #ffffff;
    font-size: 14px;
    padding: 8px;
    text-align: center;
}

.tutorial-sections-tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}
.tutorial-sections-tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

.tutorial-sections-th, .tutorial-sections-td {
    color: #ffffff;
    font-size: 14px;
    padding: 8px;
    text-align: center;
}
.tutorial-sections-th[data-italic="true"], .tutorial-sections-td[data-italic="true"] {
    font-style: italic;
}
.tutorial-sections-td {
    font-weight: 100;
}
/* Links dos td */
.tutorial-sections-td-links {
    color: #ffffff;
}

/* Ícones dos td */
.tutorial-sections-td-icons {
    display: flex;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
}

/* Suporte dos conteúdos nos navegadores dos td */
.tutorial-sections-td-supports {
    display: flex;
    width: 12px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    /*filter: invert(1);*/
}

/* Divs dos color blocks */
.tutorials-sections-color-blocks-divs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5%;
}

/* Divs dos color names */
.tutorials-sections-color-names-divs {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.66%;
}
/* Menus dos color names */
.tutorials-sections-color-names-menus {
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.tutorials-sections-color-names:hover > .tutorials-sections-color-names-menus {
    display: flex;
}
.tutorials-sections-color-names-menus > a {
    color: unset;
    text-decoration: none;
    opacity: 0.7;
    padding-left: 5px;
    padding-right: 5px;
}

/* Divs do resultado das cores */
.tutorials-sections-color-results-divs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Divs dos inputs do resultado das cores */
.tutorials-sections-color-result-inputs-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Div de cada input */
.tutorials-sections-color-result-input-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tutorial-footer {
    margin-top: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 480px) {
    .tutorials-mains {
        width: 90%;
    }
}