.tutorials-sections-examples {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Accordion */
.tutorials-sections-examples-accordions {
    color: #f0f0f0;
    width: 100%;
}

.tutorials-sections-examples-summaries {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    transition: background-color 0.3s;
}
.tutorials-sections-examples-summaries:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.tutorials-sections-examples-accordions[open] > .tutorials-sections-examples-summaries {
    /*background-color: #5075d0;*/
    border-bottom: unset;
}

.tutorials-examples-mains {
    width: 96%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 2%;
}
.tutorials-sections-examples-summaries ~ .tutorials-examples-mains {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* Headers */
.tutorials-examples-headers {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}
.tutorials-examples-headers[data-hidden="true"] {
    display: none;
}

.tutorials-examples-articles {
    background-color: #101015;
    color: #ffffff;
    border-left: 4px solid #202020;
    padding: 10px;
    overflow-x: auto;
}

/* Footer */
.tutorials-examples-footers {
    width: 100%;
    margin: 15px auto 5px auto;
}
.tutorials-examples-footers[data-hidden="true"] {
    display: none;
}

/* Divs dos resultados */
.tutorials-examples-results-divs {
    overflow: auto;
    width: 100%;
}

/* Títutos dos resultados */
.tutorials-examples-results-titles {
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    transition: all 0.3s ease;
}


/* Resultados */
.tutorials-examples-results {
    background-color: #101015;
    width:calc(100% - calc(10px * 2));
    padding: 20px 10px;
}

/* Exercícios */
.tutorials-sections-exercises {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.tutorials-exercises-mains {
    width: 96%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 2%;
}

.tutorials-exercises-headers {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.tutorials-exercises-articles {
    background-color: #101015;
    color: #ffffff;
    border-left: 4px solid #202020;
    padding: 10px;
    overflow-x: auto;
}

.tutorials-exercises-footers {
    position: relative;
    width: 100%;
    margin: 15px auto 5px auto;
}

@media screen and (max-width: 480px) {
    .tutorials-examples-mains {
        width: 94%;
        padding: 2% 3%;
    }
}

.tutorials-exercises-radio-option {
    position: relative;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /*max-width: 600px !important;*/
    padding: 8px 16px;
    margin: auto;
    margin-bottom: 4px;
    font-size: 16px;
    text-align: left;
}
.tutorials-exercises-radio-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.tutorials-exercises-radio-label {
    margin-left: 8px;
}