.image-map-examples {
    background-color: #101520;
    color: #f0f0f0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.image-map-examples-content {
    position: absolute;
    width: 100%;
}