/* Sessões */
.html-website-sections {
    text-align: center;
}
.html-website-sections#first {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0px center;
    position: relative;
}
.html-website-sections#second {
    background-color: #DAF0E0 !important;
    color: black !important;
}
.html-website-sections#third {
    background-color: #202A35 !important;
    color: #ddd !important;
}
.html-website-sections#fourth {
    background-color: #DAF0E0 !important;
    color: black !important;
}
.html-website-sections#fifth {
    background-color: #0d1721 !important;
    background-image: url("https://www.w3schools.com/images/background_in_space.gif");
    color: #DAF0E0 !important;
    margin-top: -2px;
}
.html-website-sections#sixth {
    background-color: #5075d0 !important;
    color: black !important;
}
.html-website-sections#seventh {
    background-color: #282A35 !important;
    color: white !important;
    margin-top: -30px;
    padding-bottom: 80px;
}

/* Conteúdos das sessões */
.html-website-section-contents {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.html-website-section-content-tops#first {
    color: #ffffff;
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
}
@media screen and (min-width: 600px) {
    .html-website-section-content-tops#first {
        padding-bottom: 80px;
    }
}
@media screen and (max-width: 480px) {
    .html-website-section-content-tops#first {
        padding-top: 150px;
    }
}
.html-website-section-content-tops#second {
    padding: 40px 25px 90px 25px;
}
.html-website-section-content-tops#third {
    padding-top: 70px;
    padding-bottom: 80px;
}
.html-website-section-content-tops#fourth {
    padding-top: 50px;
    padding-bottom: 30px;
}
.html-website-section-content-tops#fifth {
    padding: 40px 25px 120px 25px;
    position: relative;
}
.html-website-section-content-tops#sixth {
    padding-top: 50px;
}

/* Laço */
#ribbon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
}

/* H1 */
.html-website-section-h1 {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .html-website-section-h1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 480px) {
    .html-website-section-h1 {
        font-size: 30px;
    }
}
/* H2 */
.html-website-section-h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
}
@media screen and (max-width: 480px) {
    .html-website-section-h2 {
        font-size: 26px;
    }
}
/* H3 */
.html-website-section-h3 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 100;
}
/* H4 */
.html-website-section-h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
}
/* H5 */
.html-website-section-h5 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
}
/* H6 */
.html-website-section-h6 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
}

#html-website-section-first-content-top-details-description {
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
    margin-top: 20px;
    text-align: center;
}

#html-website-section-first-content-top-spaces-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#html-website-section-first-content-top-spaces-button {
    background-color: #5075d0;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
}
#html-website-section-first-content-top-spaces-button:hover {
    transform: scale(1.05);
}

/* Alinhar 4 tópicos */
#html-website-section-first-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.html-website-section-first-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.html-website-section-first-columns {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
@media screen and (max-width: 480px) {
    .html-website-section-first-columns {
        width: 200px;
    }
}

.html-website-section-first-columns-img {
    vertical-align: top;
    width: 56px;
    height: 56px;
    margin: 12px 15px 0 0;
}

.html-website-section-first-columns-svg {
    margin: 12px 15px 0 0;
    display: inline-block;

}

.html-website-section-first-columns-divs {
    display: inline-block;
    text-align: left;
}

.html-website-section-first-columns-h4 {
    color: #B0B0FF;
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
    margin-bottom: 15px;
}

.html-website-section-first-columns-p {
    color: #FFFFFF;
    margin-top: -12px;
    font-size: 16px;
    font-weight: 100;
    white-space: nowrap;
}

.html-website-section-second-content-top-h1 {
    color: #282A35;
    font-size: 42px;
    font-weight: 900;
}

.html-website-section-second-content-top-h5 {
    color: #282A35;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    margin-bottom: 45px;
}

#html-website-section-second-content-top-img {
    max-width: 850px;
    margin: 20px auto;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.html-website-section-third-content-top-h1 {
    color: #ddd !important;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 42px;
    font-weight: 900;
    margin: 10px 0;
}

.html-website-section-third-content-top-h4 {
    color: #ddd !important;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

#html-website-section-third-content-top-img {
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 550px;
    border-radius: 4px;
}

#html-website-section-third-content-top-spaces-button {
    background-color: #5075d0 !important;
    color: white !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 25px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
}

.html-website-section-fourth-content-top-h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 32px;
    font-weight: 900;
    margin: 10px 0;
}

.html-website-section-fourth-content-top-h4 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

.html-website-section-templates {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.html-website-section-template-items {
    margin: 10px;
    font-size: 30px;
}

.html-website-section-template-items-img {
    width: 95%;
    height: 220px;
}

.html-website-section-template-items-a {
    background-color: #DAF0E0;
    border: 1px solid #ccc !important;
    border-color: #04AA6D !important;
    border-width: 1px !important;
    color: #282A35;
    display: inline-block;
    padding: 8px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: medium;
    border-radius: 25px;
    text-decoration: none;
}
.html-website-section-template-items-a.black {
    background-color: rgb(13, 23, 33) !important;
    color: white !important;
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 60px;
}

#html-website-section-fifth-content-top-div {
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 900px) {
    #html-website-section-fifth-content-top-div {
        flex-direction: column;
    }
}

#html-website-section-fifth-content-top-left {
    padding: 0 8px;
}
@media screen and (min-width: 800px) {
    #html-website-section-fifth-content-top-left {
        width: 50%;
    }
}
.html-website-section-fifth-content-top-left-h1 {
    display: block;
    background: -webkit-linear-gradient(#D9EEE1, #63ADB9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 85px;
    font-weight: 900;
    margin: 10px 0;
    margin-bottom: -65px;
    margin-top: -10px;
}

.html-website-section-fifth-content-top-left-h5 {
    color: white !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 28px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.html-website-section-fifth-content-top-left-p {
    color: white !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-top: -14px;
}

.html-website-section-fifth-content-top-left-a {
    background-color: #04AA6D !important;
    color: white !important;
    display: inline-block;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 25px;
    text-decoration: none;
}

#html-website-section-fifth-content-top-img {
    position: absolute;
    left: 32px;
    bottom: 0;
    width: 450px;

}
@media screen and (max-width: 799px) {
    #html-website-section-fifth-content-top-img {
        width: 250px;
        left: 50%;
        transform: translate(-50%, -0%);
    }
}
@media screen and (min-width: 900px) {
    #html-website-section-fifth-content-top-img {
        left: 25px;
    }
}

#html-website-section-fifth-content-top-right {
    padding: 0 8px;
}
@media screen and (min-width: 800px) {
    #html-website-section-fifth-content-top-right {
        width: 50%;
    }
}

.html-website-section-fifth-content-top-right-p {
    color: white;
    font-size: 14px;
    width: 275px;
    padding: 12px 9px;
    border-radius: 10px;
    border: 2px solid #059862;
    margin: 10px auto;
    background-color: #383B4B;
}

#html-website-section-sixth-content-top-article {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}
#html-website-section-sixth-content-top-article > div {
    width: 100%;
    color: #fff;
    text-align: left;
}

#html-website-section-sixth-content-top-article > div > h3,
#html-website-section-sixth-content-top-article > div > h6 {
    padding-left: 30px;
}
@media screen and (max-width: 480px) {
    #html-website-section-sixth-content-top-article > div > h3,
    #html-website-section-sixth-content-top-article > div > h6 {
        padding-left: 0px;
        text-align: center;
    }
}

#html-website-section-sixth-content-top-img {
    width: 100%;
    max-width: 600px;
}

/*
7
*/

#html-website-section-seventh-content-top-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#html-website-section-seventh-content-top-article > section {
    margin: 10px 0;
}