#html-website-section-first {
    background-image: url("https://www.w3schools.com/spaces/workspace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0px center;
    position: relative;
}

#html-website-section-first-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

#html-website-section-first-content-top {
    padding-top: 100px;
    color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
}
@media only screen and (min-width: 600px) {
    #html-website-section-first-content-top {
        padding-bottom: 80px;
    }
}
#ai-ribbon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
}

#html-website-section-first-content-top-title {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}

#html-website-section-first-content-top-details-description {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
    margin-top: 20px;
    text-align: center;
}

#html-website-section-first-content-top-spaces-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#html-website-section-first-content-top-spaces-button {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    background-color: #5075d0 !important;
    color: white !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 25px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}

#html-website-section-first-row {
    padding-bottom: 80px;
    display: table;
    width: 100%;
}

.html-website-section-first-columns {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (min-width: 993px) {
    .html-website-section-first-columns {
        width: 49.99999%;
    }
}
@media (min-width: 601px) {
    .html-website-section-first-columns {
        width: 49.99999%;
    }
}

.html-website-section-first-columns-img {
    vertical-align: top;
    width: 56px;
    height: 56px;
    margin: 12px 15px 0 0;
}

.html-website-section-first-columns-divs {
    display: inline-block;
    text-align: left;
}

.html-website-section-first-columns-h4 {
    color: #D9EEE1;
    font-size: 22px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    margin-bottom: 15px;
}

.html-website-section-first-columns-p {
    color: #FFFFFF;
    margin-top: -12px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: bold;
}

#html-website-section-second {
    background-color: #D9EEE1 !important;
    color: black !important;
    text-align: center;
}

#html-website-section-second-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

#html-website-section-second-content-top {
    padding: 40px 25px 90px 25px;
}

.html-website-section-second-content-top-h1 {
    color: #282A35;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 42px;
    font-weight: 900;
}

.html-website-section-second-content-top-h5 {
    color: #282A35;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    margin-bottom: 45px;
}

#html-website-section-second-content-top-img {
    max-width: 850px;
    margin: 20px auto;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}