/* Sessões */
.html-website-sections {
    text-align: center;
}
.html-website-sections#first {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0px center;
    position: relative;
}
.html-website-sections#second {
    background-color: #DAF0E0;
    color: black;
}
.html-website-sections#third {
    background-color: #202A35;
    color: #ddd;
}
.html-website-sections#fourth {
    background-color: #DAF0E0;
    color: black;
}
.html-website-sections#fifth {
    background-color: #202A35;
    background-image: url("https://www.w3schools.com/images/background_in_space.gif");
    color: #DAF0E0;
    margin-top: -2px;
}
.html-website-sections#sixth {
    background-color: #5075d0 !important;
    color: black !important;
}
.html-website-sections#seventh {
    background-color: #282A35 !important;
    color: #ffffff !important;
    margin-top: -30px;
    padding-bottom: 80px;
}
.html-website-sections#eighty {
    background-color: #DAF0E0 !important;
    color: black !important;
    margin-top: -30px;
    padding-top: 50px;
    padding-bottom: 80px;
}
.html-website-sections#nineth {
    background-color: transparent;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* Sessões: 10, 12 e 14 */
.html-website-sections#tenth,
.html-website-sections#twelfth,
.html-website-sections#fourteenth {
    background-color: #DAF0E0 !important;
    color: black !important;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* Sessões: 11, 13 e 15 */
.html-website-sections#eleventh,
.html-website-sections#thirteenth,
.html-website-sections#fifteenth {
    background-color: #5075d0 !important;
    color: black !important;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* Sessões: 16 */
.html-website-sections#sixteenth {
    background-color: transparent;
    background-image: url("https://www.w3schools.com/spaces/community-image.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: top -100px center;
    color: #ffffff;
}
/* Sessões: 17 */
.html-website-sections#seventeenth {
    background-color: transparent;
    color: #ffffff;
}

/* Conteúdos das sessões */
.html-website-section-contents {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.html-website-section-content-tops#first {
    color: #ffffff;
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
}
@media screen and (min-width: 600px) {
    .html-website-section-content-tops#first {
        padding-bottom: 80px;
    }
}
@media screen and (max-width: 480px) {
    .html-website-section-content-tops#first {
        padding-top: 150px;
    }
}
.html-website-section-content-tops#second {
    padding: 40px 25px 90px 25px;
}
.html-website-section-content-tops#third {
    padding-top: 70px;
    padding-bottom: 80px;
}
.html-website-section-content-tops#fourth {
    padding-top: 50px;
    padding-bottom: 30px;
}
.html-website-section-content-tops#fifth {
    padding: 40px 25px 120px 25px;
    position: relative;
}
.html-website-section-content-tops#sixth {
    padding-top: 50px;
}
.html-website-section-content-tops#eighty {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.html-website-section-content-tops#nineth {
    padding-top: 32px;
    padding-bottom: 32px;
}
.html-website-section-content-tops#tenth {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.html-website-section-content-tops#eleventh {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.html-website-section-content-tops#sixteenth {
    padding-top: 160px;
    padding-bottom: 150px;
}

/* Bottom */
.html-website-section-content-bottoms#sixteenth {
    background-color: #DAF0E0 !important;
    color: black !important;
}

/* Laço */
#ribbon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
}

/* H1 */
.html-website-section-h1 {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
}
.html-website-section-h1.dark {
    color: #000000;
}
@media screen and (max-width: 768px) {
    .html-website-section-h1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 480px) {
    .html-website-section-h1 {
        font-size: 30px;
    }
}
/* H2 */
.html-website-section-h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
}
.html-website-section-h2.dark {
    color: #000000;
}
@media screen and (max-width: 480px) {
    .html-website-section-h2 {
        font-size: 26px;
    }
}
/* H3 */
.html-website-section-h3 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 100;
}
.html-website-section-h3.dark {
    color: #000000;
}
/* H4 */
.html-website-section-h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
}
/* H5 */
.html-website-section-h5 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
}
.html-website-section-h5.dark {
    color: #000000;
}
/* H6 */
.html-website-section-h6 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
}
.html-website-section-h6.dark {
    color: #000000;
}

/* Botões */
.html-website-section-buttons {
    background-color: #5075d0;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.html-website-section-buttons.dark {
    background-color: #101020;
}
.html-website-section-buttons.transparent {
    background-color: transparent;
    border: 1px solid #5075d0;
    color: #5075d0;
}
.html-website-section-buttons.bold {
    font-weight: bold;
}
.html-website-section-buttons:hover {
    transform: scale(1.05);
}

#html-website-section-first-content-top-spaces-button {
    background-color: #5075d0;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
}
#html-website-section-first-content-top-spaces-button:hover {
    transform: scale(1.05);
}

/* Alinhar 4 tópicos */
#html-website-section-first-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.html-website-section-first-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.html-website-section-first-columns {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
@media screen and (max-width: 480px) {
    .html-website-section-first-columns {
        width: 200px;
    }
}

.html-website-section-first-columns-img {
    vertical-align: top;
    width: 56px;
    height: 56px;
    margin: 12px 15px 0 0;
}

.html-website-section-first-columns-svg {
    margin: 12px 15px 0 0;
    display: inline-block;

}

.html-website-section-first-columns-divs {
    display: inline-block;
    text-align: left;
}

.html-website-section-first-columns-h4 {
    color: #B0B0FF;
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
    margin-bottom: 15px;
}

.html-website-section-first-columns-p {
    color: #FFFFFF;
    margin-top: -12px;
    font-size: 16px;
    font-weight: 100;
    white-space: nowrap;
}

.html-website-section-second-content-top-h1 {
    color: #282A35;
    font-size: 42px;
    font-weight: 900;
}

.html-website-section-second-content-top-h5 {
    color: #282A35;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    margin-bottom: 45px;
}

#html-website-section-second-content-top-img {
    max-width: 850px;
    margin: 20px auto;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

#html-website-section-third-content-top-img {
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 550px;
    border-radius: 4px;
}

.html-website-section-templates {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.html-website-section-template-items {
    margin: 10px;
    font-size: 30px;
}

.html-website-section-template-items-img {
    width: 95%;
    height: 220px;
}

.html-website-section-template-items-a {
    background-color: #DAF0E0;
    border: 1px solid #ccc !important;
    border-color: #04AA6D !important;
    border-width: 1px !important;
    color: #282A35;
    display: inline-block;
    padding: 8px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: medium;
    border-radius: 25px;
    text-decoration: none;
}

#html-website-section-fifth-content-top-div {
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 900px) {
    #html-website-section-fifth-content-top-div {
        flex-direction: column;
    }
}

#html-website-section-fifth-content-top-left {
    padding: 0 8px;
}
@media screen and (min-width: 800px) {
    #html-website-section-fifth-content-top-left {
        width: 50%;
    }
}
.html-website-section-fifth-content-top-left-h1 {
    display: block;
    background: -webkit-linear-gradient(#D9EEE1, #63ADB9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 85px;
    font-weight: 900;
    margin: 10px 0;
    margin-bottom: -65px;
    margin-top: -10px;
}

.html-website-section-fifth-content-top-left-h5 {
    color: white !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 28px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.html-website-section-fifth-content-top-left-p {
    color: white !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-top: -14px;
}

.html-website-section-fifth-content-top-left-a {
    background-color: #04AA6D !important;
    color: white !important;
    display: inline-block;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 25px;
    text-decoration: none;
}

#html-website-section-fifth-content-top-img {
    position: absolute;
    left: 32px;
    bottom: 0;
    width: 450px;

}
@media screen and (max-width: 799px) {
    #html-website-section-fifth-content-top-img {
        width: 250px;
        left: 50%;
        transform: translate(-50%, -0%);
    }
}
@media screen and (min-width: 900px) {
    #html-website-section-fifth-content-top-img {
        left: 25px;
    }
}

#html-website-section-fifth-content-top-right {
    padding: 0 8px;
}
@media screen and (min-width: 800px) {
    #html-website-section-fifth-content-top-right {
        width: 50%;
    }
}

.html-website-section-fifth-content-top-right-p {
    color: white;
    font-size: 14px;
    width: 275px;
    padding: 12px 9px;
    border-radius: 10px;
    border: 2px solid #059862;
    margin: 10px auto;
    background-color: #383B4B;
}

#html-website-section-sixth-content-top-article {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}
#html-website-section-sixth-content-top-article > div {
    width: 100%;
    color: #fff;
    text-align: left;
}

#html-website-section-sixth-content-top-article > div > h3,
#html-website-section-sixth-content-top-article > div > h6 {
    padding-left: 30px;
}
@media screen and (max-width: 480px) {
    #html-website-section-sixth-content-top-article > div > h3,
    #html-website-section-sixth-content-top-article > div > h6 {
        padding-left: 0px;
        text-align: center;
    }
}

#html-website-section-sixth-content-top-img {
    width: 100%;
    max-width: 600px;
}

/*
7
*/

#html-website-section-seventh-content-top-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#html-website-section-seventh-content-top-article > section {
    margin: 10px 0;
}

.html-website-section-eighty-content-top-p {
    font-size: large;
    width: 200px;
    margin: 10px;
}

.html-website-section-eighty-content-top-img {
    padding-right: 7.5px;
}

#html-website-section-nineth-content-top-article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#html-website-section-nineth-content-top-article-img {
    width: 50%;
}
@media screen and (max-width: 768px) {
    #html-website-section-nineth-content-top-article {
        flex-direction: column;
        gap: 50px;
    }

    #html-website-section-nineth-content-top-article-img {
        width: 95%;
    }
}

#html-website-section-tenth-content-top-article {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#html-website-section-tenth-content-top-article-img {
    width: 50%;
}
@media screen and (max-width: 768px) {
    #html-website-section-tenth-content-top-article {
        width: 100%;
        flex-direction: column;
        gap: 50px;
    }
    #html-website-section-tenth-content-top-article-img {
        width: 95%;
    }
}

/* 11 */
#html-website-section-eleventh-content-top-article {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#html-website-section-eleventh-content-top-article-img {
    width: 50%;
}
@media screen and (max-width: 768px) {
    #html-website-section-eleventh-content-top-article {
        width: 100%;
        flex-direction: column;
        gap: 50px;
    }
    #html-website-section-eleventh-content-top-article-img {
        width: 95%;
    }
}

/* 12 */
#html-website-section-twelfth-content-top-article {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#html-website-section-twelfth-content-top-article-img {
    width: 50%;
}
@media screen and (max-width: 768px) {
    #html-website-section-twelfth-content-top-article {
        width: 100%;
        flex-direction: column;
        gap: 50px;
    }
    #html-website-section-twelfth-content-top-article-img {
        width: 95%;
    }
}

/* 13 */
#html-website-section-thirteenth-content-top-article {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#html-website-section-thirteenth-content-top-article-img {
    width: 50%;
}
@media screen and (max-width: 768px) {
    #html-website-section-thirteenth-content-top-article {
        width: 100%;
        flex-direction: column;
        gap: 50px;
    }
    #html-website-section-thirteenth-content-top-article-img {
        width: 95%;
    }
}

/* 14 */
#html-website-section-fourteenth-content-top-article {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#html-website-section-fourteenth-content-top-article-img {
    width: 50%;
}
@media screen and (max-width: 768px) {
    #html-website-section-fourteenth-content-top-article {
        width: 100%;
        flex-direction: column;
        gap: 50px;
    }
    #html-website-section-fourteenth-content-top-article-img {
        width: 95%;
    }
}

/* 15 */
#html-website-section-fifteenth-content-top-article {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#html-website-section-fifteenth-content-top-article-img {
    width: 50%;
}
@media screen and (max-width: 768px) {
    #html-website-section-fifteenth-content-top-article {
        width: 100%;
        flex-direction: column;
        gap: 50px;
    }
    #html-website-section-fifteenth-content-top-article-img {
        width: 95%;
    }
}

#html-website-section-sixteenth-content-bottom-img {
    margin-bottom: 20px;
    margin-top: -100px;
    width: 60%;
}
@media screen and (min-width: 1000px) {
    #html-website-section-sixteenth-content-bottom-img {
        max-width: 50%;
        padding-bottom: 80px;
    }
}
#html-website-section-sixteenth-content-top-svg {
    width: 100%;
    margin-bottom: 10px;
    margin-top: -2px;
}

#html-website-section-sixteenth-content-bottom-svg {
    width: 100%;
    margin-bottom: -10px;
    margin-top: 10px;
}

/*
17
*/
#html-website-section-seventeenth-toggle {
    cursor: pointer;
    width: 60px;
    vertical-align: middle;
}

#html-website-section-seventeenth-main {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1020px) {
    #html-website-section-seventeenth-main {
        max-width: 100%;
    }
}

#html-website-section-seventeenth-main-article {
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

#html-website-section-seventeenth-main-article-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.html-website-section-seventeenth-main-article-columns {
    border-color: #5075d0 !important;
    border-style: solid;
    border-width: 1px !important;
    border-radius: 32px;
    margin: 9px;
    min-width: 260px;
    max-width: 260px;
}
.html-website-section-seventeenth-main-article-columns.invert {
    background-color: #DAF0E0;
    color: #000000;
}

.html-website-section-seventeenth-main-article-columns-tops {
    height: 500px;
}
.html-website-section-seventeenth-main-article-columns.invert > .html-website-section-seventeenth-main-article-columns-tops {
    height: calc(500px + 160px);
}

.html-website-section-seventeenth-main-article-columns-tops-prices {
    height: 64px;
    padding-bottom: 5px;
}
.html-website-section-seventeenth-main-article-columns-tops-prices > span:nth-child(1) {
    color: #5075d0;
    font-size: 40px;
    font-weight: 900;
}

.html-website-section-seventeenth-main-article-columns-lists-divs {
    height: 160px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 40px;
}
.html-website-section-seventeenth-main-article-columns-lists-divs > ul {
    text-align: left;
}

.html-website-section-seventeenth-main-article-columns-footers {
    margin-top: 10px;
    margin-bottom: 40px;
}